<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <div class="topnav">
        <a class="active" th:href="@{/}">Home</a>
        <a th:if="${session.role == 'candidate'}" class="left" th:href="@{/profile}">Profile</a>
        <a th:unless="${session.role == 'candidate'}" class="left" th:href="@{/create-post}">Create Post</a>
        </span>
    </div>
    <div class="header">
        <h2 th:text="${session.role == 'candidate' ? 'Find Your Job' : 'Find Your Candidate'}"/>
    </div>
</header>

</body>
</html>